label {
    display: inline-block;
    width: 100px;
   }
   
   button {
     margin-left: 15px;
   }
   
   .input {
     height: 45px;
     margin-top: 15px;  
   }
   
   .eindDiv {
     clear: both;
     display: block;
   margin-bottom: 15px;
   }

   #divFeedback {
       margin-left: 10px;
       margin-top:15px;
   }